@import "./styles/global.css";
@import "./styles/navbar.css";
@import "./styles/productCard.css";
@import "./styles/productDetails.css";
@import "./styles/adminDashboard.css";
@import "./styles/cart.css";
@import "./styles/home.css";
@import "./styles/addProductForm.css";
@import "./styles/footer.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
